.count-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.count-container span {
    color: var(--bg);
}

.count-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}